@charset "utf-8";


body{ background-image: linear-gradient(to top,#c5e0f0,#ECFAF9);
      background-repeat:no-repeat;
      width:100%;
	  height:100%;
	  min-height:1780px;
	  }



.centop{width:100%;

     max-width:700px;
	position:absolute;
	top:80px;
	left:0;
	right:0;
	margin:auto;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	background: #FFFFFF;
	box-shadow: #333 0px 3px 12px 0px ;}

.top{ background:#2c385b;
      height:270px;}


      .tophome .rating {
            position: absolute;
            top:290px;
            left: 659px;
            color: #adc2e8;

            border: 2px solid #adc2e8;
            padding: 0px 3px;


          }

      .tophome:hover .rating{
            box-shadow: #adc2e8 0px 0px 20px 5px;
            cursor:pointer
      }







      .weibu{
              position:relative;
      	   top:1250px;
      	   margin:auto;
      	   padding-top:25px;
              }


      .downl{float: left;
             margin-top:28px;
      	   margin-left:230px;
      	   padding-bottom:8px;

      	   width:100px;
      	   height:100%}

      .downc{float: left;
             margin-top:28px;
      	   padding-bottom:8px;


      	   height:100%}

      .downr{float:right;
             margin-top:28px;
      	   margin-right:265px;
             padding-bottom:8px;

      	   height:100%}


      .shixian{clear:both;
      	    width:60%;
              height:0;
              margin:0 auto;
      		border-bottom:#B1B1B1 0.8px solid;
      		padding-top:20px;

      	    }

      .sm{font-size:12px;
           color:#999;
      	 padding-top:15px;}

      .sm p.xx{font-size:10px;}




      			.gallery-section {
      				width: 100%;


      			}
      			.inner-width {
      				width: 100%;
      				max-width: 1200px;
      				margin: auto;
      				padding: 0 0px;
      			}
      			.gallery-section h1 {
      				text-align: center;
      				text-transform: uppercase;
      				color: #333;
      			}
      			.border {
      				width: 280px;
      				height: 4px;
      				background: #333;
      				margin: 2px auto 50px;
      			}
      			.gallery-section .gallery {
      				display: flex;
      				flex-wrap: wrap-reverse;
      				justify-content: center;
      			}
      			.gallery-section .image {
      				flex: 25%;
      				overflow: hidden;
      				cursor: pointer;
      			}
      			.gallery-section .image img {
      				width: 100%;
      				height: 100%;
      				transition: 0.4s;
      			}
      			.gallery-section .image:hover img {
      				transform: scale(1.4) rotate(15deg);
      			}

      			@media screen and (max-width: 2560px) {
      				.gallery-section .image {
      					flex: 50%;
      				}
      			}

      			}
